<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            "
       default-lazy-init="true">
    <description>thrift配置文件 </description>

    <bean id="testImpl" class="me.islim.thrift.impl.TestImpl" />

    <!-- 服务端注册 -->
    <bean id="helloWorld" class="me.islim.thrift.proxy.ThriftServerProxy">
        <property name="port" value="1234" />
        <property name="serviceInterface" value="me.islim.thrift.Test" />
        <property name="serviceImplObject" ref="testImpl" />
    </bean>
</beans>